.container{width:100%;padding-left: 4%;}
.container ul{display: flex;flex-wrap: wrap;align-items: center;}
.grid{width:40%;padding:0.5em 1em 0 1em;}

@media(max-width: 960px){
    .grid{width:100%;}
    .container{padding: 20px}
}