
.container{width:100%;padding:0.5em 0;display: flex;justify-content: center;position: fixed;top:0;left:0;background-color: #fff;}
.headerLeft{width:15%;}
a{display: inline-block;width: 80px;}
.logo{width:100%;}
.regionCode{color:#333;font-size: 0.6em;position: absolute;top:3px;padding:0 0.3em;}
.headerRight{background-color: skyblue;width:15%;}