
.header button{width: 30px;height:30px;vertical-align: middle;position: relative;font-size: 0;}
.header button:before{content: "";position:absolute;top:0;left:0;background-size: cover;background-repeat: no-repeat;width:100%;height:100%;}

.header{width:100%;padding:0.5em;display: flex;justify-content: center;position: fixed;top:0;left:0;background-color: #fff;z-index: 99;}
.headerLeft{width:15%;position:relative;}
.guide{margin:0 16px 0 0.5em;}
/* .guide:before{background-image:url(../../images/hamburger_menu.jpg);} */
a{display: inline-block;width: 80px;vertical-align: middle;}
.logo{width:100%;}
.regionCode{color:#333;font-size: 0.6em;position: absolute;top:-2px;padding:0 0.3em;}
.headerRight{background-color: skyblue;width:15%;}
.app:before{background-image:url(../../images/grid.png);}
.setting:before{background-image:url(../../images/grid.png);}
.notice:before{background-image:url(../../images/bell.png);}